1112199_WCF/ATM_Machine/Service References/ServiceReference/Bank_Host.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Bank_Host" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Bank_Host" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Account">
    <xs:sequence>
      <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Funds" type="xs:long" />
      <xs:element minOccurs="0" name="IdAccount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdCard" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Account" nillable="true" type="tns:Account" />
</xs:schema>